---
export interface HeadProps {
    seoTitle:string;
    seoDescription:string;
}
const {seoTitle, seoDescription} = Astro.props as HeadProps
// Where as Props refers to using the Props Typescript type
---

<head>
    <!-- <script type="module" src="https://cdn.skypack.dev/twind/shim"></script> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script type="module" src="https://cdn.skypack.dev/twind/shim"></script> -->
    <meta name="description" content={seoDescription} />
    
    <title>{seoTitle}</title>
    {/* <title>{props.title}</title> */}

    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> -->
    <script src="https://cdn.tailwindcss.com/3.2.4"></script>

    <meta property='og:site_name' content="MolysTechie" />
    <meta property='og:title' content={seoTitle} />
    <meta property='og:description' content={seoDescription  } />

    <!-- add google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" />

    <link rel="icon" href="/favicon.ico" />
    {/* <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico" /> */}
</head> 
