---

---
<script type="module" src="https://cdn.skypack.dev/twind/shim"></script>

<section class="flex items-center justify-center h-screen mb-12  bg-[url('/bgcover.png')] bg-fixed bg-center bg-cover bg-no-repeat">
    {/* overlay */}
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/70 z-[2]" />
    <div class="p-5 text-white z-[3] mt-[-10rem] text-center" >
        <h2 class="text-5xl font-bold">MolysTechie</h2>
        <p class="py-5 text-xl">Second to none in solving Problems</p>
        <p class="py-5 text-sm">We have Solution for you Business. Let's get in touch</p>
    </div>
</section>
   